.rules {
  margin-left: 165px;
  margin-right: 165px;
  footer {
    margin-top: 62px;
  }
  &_wrapper {
    position: relative;
    margin-top: 62px;
    display: grid !important;
    grid-template-columns: 280px 1fr;
    gap: 6px;
    &_content {
      display: flex;
      flex-direction: column;
      h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.1px;
        color: #363636;
      }
      &_text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        h5 {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.1px;
          color: #363636;
        }
        &_paragraphs {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-left: 30px;
          p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #363636;
          }
          &_subparagraphs {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-left: 30px;
            &_sub {
              display: flex;
              flex-direction: column;
              gap: 16px;
              margin-left: 30px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1240px) {
    &_wrapper {
      display: block;
    }
  }
}
@media (max-width: 957px) {
  .rules {
    margin-left: 66.67px;
    margin-right: 66.67px;
  }
}

@media (max-width: 540px) {
  .rules {
    margin-left: 16px;
    margin-right: 16px;
  }
}
