.rank {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &_stars {
    display: flex;
    gap: 16px;
    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.1px;
      color: #363636;
    }
  }
  @media (max-width: 957px) {
    &_stars {
      img {
        width: 27.63px;
        height: 26.56px;
      }
    }
  }
  @media (max-width: 667px) {
    &_stars {
      width: 27.63px;
      height: 26.56px;
    }
  }
}
.reviews {
  max-width: 730px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &_title {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    width: 140px;
    img {
      transition: 0.2s;
      cursor: pointer;
    }
    &_open {
      transform: rotate(180deg);
    }
  }

  button {
    width: 350px;
    height: 52px;
    background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
    border-radius: 30px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    margin-top: 26px;
  }
  @media (max-width: 957px) {
    button {
      width: 640px;
      height: 40px;
    }
  }
  @media (max-width: 667px) {
    button {
      width: 288px;
      height: 40px;
    }
  }
  &_block {
    display: flex;
    flex-direction: column;
    gap: 42px;
    &_feedback {
      display: flex;
      flex-direction: column;
      gap: 16px;
      @media (max-width: 667px) {
        p {
          font-size: 15px;
          line-height: 20px;
        }
      }
      &_person {
        display: flex;
        gap: 24px;
        img {
          width: 32px;
          height: 32px;
          border-radius: 150px;
        }
        &_text {
          display: flex;
          gap: 24px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          letter-spacing: 0.1px;
          span {
            color: #727272;
          }
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #363636;
          text-align: start;
        }
        @media (max-width: 667px) {
          &_text {
            align-items: flex-start;
            flex-direction: column;
            gap: 3px;
            span {
              font-size: 15px;
              line-height: 20px;
            }
          }
          p {
            font-size: 15px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 957px) {
  .reviews {
    h5,
    hr {
      margin-right: auto;
    }
  }
}
