.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 16px;
  width: 528px;
  height: 466px;
  &_error {
    display: none;
  }
  &_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    width: 416px;
    &_title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.1px;
      color: #363636;
    }
    &_inputs {
      display: flex;
      flex-direction: column;
      gap: 36px;
      width: 100%;
      &_field {
        display: flex;
        flex-direction: column;
        position: relative;
        &_input {
          padding-left: 12px;
          width: 100%;
          height: 56px;
          background: #f9f9fa;
          border-top-style: hidden;
          border-right-style: hidden;
          border-left-style: hidden;
          border-bottom: 1px solid #bfc4c9;
          &:focus {
            outline: none;
          }
          &_marked {
            padding-left: 12px;
            width: 100%;
            height: 56px;
            background: #f9f9fa;
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom: 1px solid #f42c4f;
            &:focus {
              outline: none;
            }
          }
        }
        &_label {
          position: absolute;
          top: 20px;
          left: 12px;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.1px;
          color: #363636;
          transition: 0.3s;
          &_active {
            position: absolute;
            left: 12px;
            top: 6px;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: #a7a7a7;
            transition: 0.3s;
          }
        }
        &_error {
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.2px;
          color: #f42c4f;
          &_none {
            display: none;
          }
        }
        &_forgot {
          margin-top: 20px;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.2px;
          color: #a7a7a7;
          cursor: pointer;
          &_error {
            cursor: pointer;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: #363636;
          }
        }
        &_eye {
          height: 24px;
          width: 24px;
          position: absolute;
          right: 16px;
          top: 16px;
          cursor: pointer;
        }
      }
    }
    &_buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &_submit {
        width: 100%;
        height: 52px;
        background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
        border-radius: 30px;
        border: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
      }
      &_register {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        &_text {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.1px;
          color: #727272;
        }
        &_navigation {
          display: flex;
          align-items: center;
          margin-left: 16px;
          a {
            display: flex;
            align-items: center;
          }
          cursor: pointer;
          span {
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.2px;
            text-transform: uppercase;
            color: #363636;
          }
          img {
            margin-left: 12px;
            height: 24px;
            width: 24px;
          }
        }
      }
    }
  }
}

.loaded_data {
  position: relative;
}
.loading_data {
  display: flex;
  justify-content: center;
  align-items: center;
  &_blur {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    backdrop-filter: blur(10px);
    background-color: rgba(54, 54, 54, 0.3);
  }
  div {
    svg {
      position: relative;
      z-index: 3;
    }
  }
}
.rejected_data {
  display: flex;
  position: absolute;
  top: 65px;
  width: 78vw;
}
.unloaded_data {
  display: none;
  justify-content: center;
}
@media (max-width: 540px) {
  .loaded_data {
    justify-content: center;
  }
}
.loader {
  position: absolute;
  top: calc(100vh - 50%);
}
