.send {
  display: none;
  &_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 16px;
    width: 600px;
    height: 206px;
  }
  &_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #363636;
  }
  &_wrong {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #363636;
  }
  &_again {
    width: 410px;
    height: 52px;
    background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
}
